@font-face {
    font-family: "MinecraftFifty";
    src:
        local("MinecraftFifty"),
        url("../fonts/MinecraftFifty-Solid.otf") format("opentype")
}

/* Font Face */
@font-face {
    font-family: "MCRegular";
    src: url("../fonts/MinecraftRegular.otf") format("opentype");
}

@font-face {
    font-family: "MCBold";
    src: url("../fonts/MinecraftBold.otf") format("opentype");
}

@font-face {
    font-family: "MCBoldItalic";
    src: url("../fonts/MinecraftBoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "MCItalic";
    src: url("../fonts/MinecraftItalic.otf") format("opentype");
}

@font-face {
    font-family: "MinecraftTenHead";
    src: url("../fonts/MinecraftTenHead.ttf") format("truetype");
}

/* MY EPIC FAIL 🤕 */
/* @font-face {
    font-family: 'loc-android';
    src: url('/assets/svg/android.svg') format('svg');
}

.loc-android {
    font-family: 'loc-android' !important;
    content: '\e001';
} */

/* Variables Light*/
/* :root {
    --background-color-light: #fdfffc;
    --border-color: #212121;
    --highlight-color: #ff4d6d;
    --hover-color: #c0b9dd;
    --color_gray: #dfe4ea;
} */

/* Variables CSS */
:root {

    /* Fonts */
    --font_MC_Regular: 'MCRegular', sans-serif;
    --font_MC_Bold: 'MCBold', sans-serif;
    --font_MC_BoldItalic: 'MCBoldItalic', sans-serif;
    --font_MC_Italic: 'MCItalic', sans-serif;
    --font_MinecraftTenHead: 'MinecraftTenHead', sans-serif;

    /* Colors Dark*/
    --background-color: #141414;
    --border-color: #212121;
    --loader-color: #020302;
    --highlight-color: #ff4d6d;
    --hover-color: #f790a3;
    --color_gray: #dfe4ea;
    --warning-color: #ffcc00;

    /* Colors Light*/
    --background-color-light: #fdfffc;
    --font-color: #141414;


    /* Border Radius */
    --border_radius_1: px;

    /* Box Shadow */
    --box_shadow_1: 0 0 5px rgba(0, 0, 0, 0.1);

}



body {
    font-family: var(--font_MC_Regular);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0px;
    /* overflow: hidden; */
}

* {
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
a,
p,
span {
    font-weight: 400;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loader-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

#preloader.loaded {
    opacity: 0;
    pointer-events: none;
}

.loader-gif {
    width: 100px;
    height: auto;
}

a:hover {
    color: var(--hover-color);
}

nav {
    font-family: var(--font_MinecraftTenHead);
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 0.1rem;
}

nav .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

nav .nav-section h1 {
    font-weight: bold;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}

#nav-toggle-button {
    font-family: var(--font_MinecraftTenHead);
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    /* height: 100%; */
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
}

#nav-toggle-button:hover,
#nav-toggle-button:hover>span {
    color: var(--highlight-color);
}

#nav-toggle-button>span,
#nav-toggle-button>i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}

#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    flex-basis: calc(100% / 3);
    justify-content: flex-start;
}

#nav-logo-section>a>i {
    font-size: 2.5rem;
}

#nav-link-section {
    flex-basis: 50%;
    gap: 6rem;
}

#nav-social-section {
    gap: 3rem;
}

main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}


@media (max-width: 1200px) {
    #nav-mobile-section {
        flex-basis: calc(100% * 0.75);
    }

    #nav-logo-section {
        flex-basis: calc(100% * 0.25);
    }

    #nav-link-section {
        flex-basis: calc(100% / 3);
        gap: 3rem;
    }

    main {
        overflow-y: auto;
    }
}

@media (max-width: 800px) {
    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"]>#nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"]>#nav-toggle-button {
        border-left: none;
    }

    nav[data-transitionable="true"]>#nav-mobile-section {
        transition: transform 400ms ease;
    }

    nav .nav-section {
        border-left: none;
        padding: 1.5rem 1rem;
    }

    #nav-logo-section>a>i {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    #nav-mobile-section {
        background-color: var(--background-color);
        flex-direction: column;
        /* height: 100vh; */
        width: 100vw;
        position: fixed;
        transform: translateY(-100%);
    }

    #nav-toggle-button {
        display: flex;
    }

    #nav-link-section {
        flex-basis: 80%;
        flex-direction: column;
        gap: 0rem;
    }

    #nav-link-section>a {
        font-size: 3rem;
        font-weight: bold;
    }

    #nav-social-section>a {
        font-size: 2rem;
    }

    #nav-contact-section {
        padding-bottom: 4rem;
    }
}


/* YSS card */
.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
}

.product-card {
    width: 500px;
    padding: 1.5rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border_radius_1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--box_shadow_1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: var(--border_radius_1);
}

.product-card h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.product-card p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--color_gray);
}

.product-card span {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

.product-card button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: var(--border_radius_1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card button:hover {
    background-color: var(--hover-color);
}


#main-btn {
    font-family: var(--font_MC_Regular);
}

#main-p {
    font-family: var(--font_MC_Regular);
}

#main-name {
    font-family: var(--font_MC_Bold);
}


/* Theme Change
.dark-light-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--background-color-light);
    color: v;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dark-light-toggle i {
    font-size: 24px;
}

.dark-mode {
    background-color: var(--background-color);
} */

/* path.html */

.main-content-d {
    font-family: var(--font_MC_Regular);
    padding: 3rem 7rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .main-content-d {
        padding: 3rem 2rem;
    }

    .header:before {
        background-size: cover;
        background-position: center;
    }

}

.header {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/PatchAPP.webp');
    background-size: cover;
    opacity: 0.4;
}

.header-yssrd:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/YSS_RD_1.webp');
    background-size: cover;
    opacity: 0.4;
}

.header-yssse:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/YSS_SE_1.webp');
    background-size: cover;
    opacity: 0.4;
}



.header-content {
    font-family: var(--font_MinecraftTenHead);
    position: relative;
    z-index: 1;
    padding: 64px 12px;
    margin: 0;
    text-align: center;
    color: white;
}

.header-content>p {
    padding-top: 10px;
    font-family: var(--font_MC_Regular);
}



.download-button {
    font-family: var(--font_MC_Regular);
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: var(--border_radius_1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 513px) {
    .download-button {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    
}


.note {
    font-family: var(--font_MinecraftTenHead);
    padding: 0.5rem 1rem;
    background-color: var(--warning-color);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: var(--border_radius_1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    position: absolute;
    align-items: center;
}



.faq-section {
    padding-top: 1rem;
    /* padding-left: 0.2rem; */
    border: var(--border_radius_1);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border_radius_1);


}

.faq-answer {
    display: none;
    padding-left: 20px;
    transition: transform 0.3s ease;

}

.faq-question {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.faq-question::before {
    content: '+';
    display: inline-block;
    margin-right: 5px;
}

.faq-question.opened::before {
    content: '-';
}

.faq-answer.show {
    display: block;
}

.details-section {
    font-family: var(--font_MC_Regular);
}

.header {
    font-family: var(--font_MC_Bold);
    width: auto;
}


.space {
    margin-top: 2rem;
}

.footer {
    font-family: var(--font_MinecraftTenHead);
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 0.1rem;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* betterrd.html */

.features {
    color: var(--color_gray);
}


.features>li {
    margin-top: 0.2rem;
    font-size: 1rem;
}

.features>li::before {
    content: '•';
    margin-right: 0.5rem;
}

.header-brd:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/BetterRenderDragon_1.webp');
    background-size: cover;
    opacity: 0.4;
}


/* about.html */

.about-content {
    font-family: var(--font_MC_Regular);
    text-align: justify;
    padding: 3rem 7rem;
    /* border: 1px solid var(--border-color); */
    align-items: center;
    justify-content: center;
}

.header-about:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/about.webp');
    background-size: cover;
    opacity: 0.4;
}


@media (max-width: 800px) {
    .about-content {
        padding: 3rem 2rem;
    }

    .header-about:before {
        background-size: cover;
        background-position: center;
    }

}

.main-content-a {
    font-family: var(--font_MC_Regular);
    padding: 3rem 7rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .main-content-a{
        padding: 3rem 2rem !important;
    }
}

/* body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--border-color);
}

.carousel-slide {
    padding: 2rem;
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    height: 400px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--border-color);
    cursor: pointer;
    font-size: 24px;
    background: var(--color_gray);
    opacity: 0.5;
    padding: 5px 10px;
    z-index: 2;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
} */

table td {
    background-color: var(--background-color);
    color: #fffffff7;
    padding: 0.1rem 0rem;
}


.colDownload {
    font-family: var(--font_MC_Regular);
    padding: 0.5rem 1rem;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: var(--border_radius_1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
}
  
.colFile {
    background-color: #830d6f;
    color: white;
    text-align: left;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    display: inline-block;
}
  
@media screen and (max-width: 400px) {
    .colDownload, .colFile {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* redirect page css */

#redirectForm {
    text-align: right;
    color: var(--background-color-light);
}

#pageSelect {
    font-family: var(--font_MC_Regular);
    background-color: var(--background-color);
    color: var(--background-color-light);
    border: 1px solid var(--border-color);
    outline: 0;
    padding: 3px;
    font-size: 13px;
    border-radius: var(--border_radius_1);
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #redirectForm {
        text-align: left;
    }
}